<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bet Master</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
 
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <link href="/css/adminstyle.css" rel="stylesheet">
</head>

<body style="background-color: #f0ece1;">
    <div th:replace="/header"> </div>
    <div class="main_wrap">
        <!-- agent path -->
        <div class="agent_path">
            <ul id="agentPath" class="agent_path-L">
                <li id="path3" class="last_li">
                    <a href="javascript: void(0);">
                        <span class="lv_3">
                            MA
                        </span>
                        <strong>demoagt12</strong>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Agent Left Column -->
        <div class="col-left">
            <!-- Sub Menu and Path -->
            <div class="sub_path">
                <!-- Sub Menu -->
                <ul class="menu-list">
                    <li class="class">Position</li>
                    <li class="li-hover"><a id="accountSummary" href="/account">Account Summary</a></li>
                    <li class="li-hover select"><a id="accountStatement" href="/accountstatement">Account
                            Statement</a></li>
                    <li class="class">Account Details</li>
                    <li class="li-hover"><a id="profile" href="/profile">Profile</a></li>
                    <li class="li-hover"><a id="activityLog" href="/activitylog">Activity Log</a></li>
                </ul>
            </div>
        </div>
        <!-- Center Column -->
        <div class="col-center report">
            <h2>Account Statement</h2>
            <table id="table_log" class="table01">
                <tbody>
                    <tr>
                        <th width="15%" class="align-L">Date/Time</th>
                        <th width="18%" class=align-R>Deposit</th>
                        <th width="18%" class=align-R>Withdraw</th>
                        <th width="18%" class=align-R>Balance</th>
                        <th width="16%" class=align-R>Remark</th>
                        <th width="" class=align-R>From/To</th>
                    </tr>
                </tbody>
                <tbody id="content"></tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="./js/main.js"></script>

</html>