<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
<meta charset="utf-8">
</head>
<body style="background-color: #f0ece1;">
    <div class="full-wrap" style="height: calc(100% - 105px)">
        <h2>Banking</h2>
        <div class="total_all banking-top">
            <div class="search-wrap" id="userSearchUl">
                <div>
                    <input class="search-input" type="text" name="searchUserId" id="searchUserId"
                        placeholder="Enter userId...">
                </div>
            </div>
            <ul class="input-list" id="companySearchUl">
                <li class="bank-li">
                    <a class="btn-send banking-btn" href="#" id="search">Search</a>
                </li>
            </ul>
            <ul class="input-list" id="accountStatusUl">
                <li><strong>Status</strong></li>
                <li>
                    <select class="" name="accountStatus" id="accountStatus">
                        <option value="0">ACTIVE
                        </option>
                        <option value="1">SUSPENDED
                        </option>
                        <option value="2">LOCKED
                        </option>
                        <option value="-1">ALL</option>
                    </select>
                </li>
            </ul>
        </div>
        <!-- Report Table -->
        <table id="table_log" class="table01">
            <thead>
               <tr class="headingsTr">
                  <th id="huid" class="align-L hd">UID <i class="bi bi-caret-down-fill"></i></th>
                  <th class="align-L hd">Balance</th>
                  <th class="align-L hd availableTH">Available D/W</th>
                  <th id="dexp" class="align-L hd">Exposure</th>
                  <th id="hDpWd" class="align-L hd">Deposit/Withdraw</th>
                  <th class="align-L hd">Credit Reference</th>
                  <th id="hrefpl" class="align-L hd">Reference P/L</th>
                  <th id="hrmk" class="align-L hd">Remark</th>
                  <th id="hlgs" class="align-L hd">logs</th>
               </tr>
            </thead>
            <tbody id="content">
            </tbody>
         </table>
        <div class="submit-wrap" id="settlementBar">
            <ul class="d-flex bank-ulft">
                <li><a id="clearAllBtn" href="javascript:void(0);" class="btn">Clear All</a></li>
                <li class="submit-payment">
                    <input id="paymentPassword" type="password" placeholder="Password">
                    <a id="submit" href="" class="btn-send bank-sub">Submit <span id="submitCount">0</span> Payment</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>