<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Bet Master</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <link href="/css/adminstyle.css" rel="stylesheet" />
  </head>

  <body style="background-color: #f0ece1">
    <!-- header start  -->
    <div th:replace="/header"> </div>
    <div id="mainWrap" class="main_wrap">
      <!-- marquee start  -->
      <div class="marquee-box container" style="display: flex">
        <h4><i class="fa fa-microphone" aria-hidden="true"></i> News</h4>
        <div class="marquee">
          <div
            style="
              width: 100000px;
              transform: translateX(258px);
              animation: 3095.81s linear 0s infinite normal none running
                marqueeAnimation-2276167;
            "
            class="js-marquee-wrapper"
          >
            <div class="js-marquee" style="margin-right: 0px; float: left">
              <a
                ><span>06 Sep 2021</span>England vs India... Markets :- Chris
                Woakes Runs and Chris Woakes Boundaries ..This 2 markets are for
                England 2nd Innings... Please Consider these 2 as Chris Woakes
                Runs (2) and Chris Woakes Boundaries (2).</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Fucsovics/Travaglia v
                Krawietz/Tecau 1st set game 2 - winner S/R TENNIS
                Klaasen/Mclachlan v Krueger/Mmoh 2nd set - winner S/R TENNIS
                Svajda v Sinner3rd set game 9 - winner S/R TENNIS Svajda v
                Sinner3rd set game 6 - winner S/R TENNIS Klaasen/Mclachlan v
                Krueger/Mmoh3rd set game 7 - winner S/R TENNIS Klaasen/Mclachlan
                v Krueger/Mmoh3rd set game 5 - winner Due To wrong odds offered
                all bets under this markets have been voided ..Sorry For the
                inconvenience Caused. </a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 8 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 6 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 2 - winner S/R TENNIS Linette/Pera v
                Krejcikova/Siniakova2nd set game 10 - winner S/R TENNIS
                Linette/Pera v Krejcikova/Siniakova2nd set game 1 - winner S/R
                TENNIS Linette/Pera v Krejcikova/Siniakova1st set game 8 -
                winner Due To wrong odds offered all bets under this markets
                have been voided ..Sorry For the inconvenience Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Eubanks/Fratangelo v
                Monroe/Tiafoe3rd set game 7 - winner S/R TENNIS Linette/Pera v
                Krejcikova/Siniakova2nd set game 10 - winner S/R TENNIS
                Fucsovics/Travaglia v Krawietz/Tecau1st set game 2 - winner S/R
                TENNIS Klaasen/Mclachlan v Krueger/Mmoh1st set game 3 - winner
                S/R TENNIS Svajda v Sinner2nd set game 9 - winner S/R TENNIS
                Svajda v Sinner2nd set game 3 - winner S/R TENNIS Svajda v
                Sinner2nd set game 2 - winner S/R TENNIS Svajda v Sinner1st set
                game 9 - winner Due To wrong odds offered all bets under this
                markets have been voided ..Sorry For the inconvenience
                Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Ferreira Silva v Viola1st
                set game 6 - winner S/R TENNIS Kozlov v Verdasco3rd set game 7 -
                winner S/R TENNIS J Sousa v Ortega-Olmedo1st set game 7 - winner
                S/R TENNIS J Sousa v Ortega-Olmedo1st set game 4 - winner S/R
                TENNIS Bortolotti/Cuevas v Erler/Miedler1st set game 4 - winner
                S/R TENNIS Agamenone v Kovalik2nd set game 4 - winner S/R TENNIS
                Ferreira Silva v Viola1st set game 6 - winner Due To wrong odds
                offered all bets under this markets have been voided ..Sorry For
                the inconvenience Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Mchale/Olmos v
                Fernandez/Routliffe1st set game 10 - winner S/R TENNIS
                Mchale/Olmos v Fernandez/Routliffe1st set game 6 - winner S/R
                TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 5 - winner
                S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 3 -
                winner S/R TENNIS V Pospisil v Ivashka3rd set game 12 - winner
                S/R TENNIS Kudla v Otte2nd set game 4 - winner Due To wrong odds
                offered all bets under this markets have been voided ..Sorry For
                the inconvenience Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Svajda v Sinner3rd set game
                11 - winner S/R TENNIS Svajda v Sinner3rd set game 9 - winner
                S/R TENNIS Svajda v Sinner3rd set game 8 - winner S/R TENNIS
                Svajda v Sinner3rd set game 5 - winner S/R TENNIS Svajda v
                Sinner3rd set game 4 - winner S/R TENNIS Svajda v Sinner2nd set
                game 12 - winner S/R TENNIS Svajda v Sinner2nd set game 9 -
                winner S/R TENNIS Svajda v Sinner2nd set game 8 - winner S/R
                TENNIS Svajda v Sinner2nd set game 5 - winner S/R TENNIS Svajda
                v Sinner2nd set game 3 - winner S/R TENNIS Svajda v Sinner2nd
                set game 2 - winner S/R TENNIS Ferreira Silva v Viola1st set
                game 6 - winner Due To wrong odds offered all bets under this
                markets have been voided ..Sorry For the inconvenience
                Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Mchale/Olmos v
                Fernandez/Routliffe2nd set game 4 - winner S/R TENNIS
                Mchale/Olmos v Fernandez/Routliffe2nd set game 1 - winner S/R
                TENNIS Geerts v Barrios Vera3rd set game 6 - winner S/R TENNIS
                Geerts v Barrios Vera3rd set game 4 - winner S/R TENNIS Geerts v
                Barrios Vera3rd set game 3 - winner S/R TENNIS Svajda v
                Sinner3rd set game 11 - winner S/R TENNIS Svajda v Sinner3rd set
                game 8 - winner S/R TENNIS Svajda v Sinner3rd set game 5 -
                winner S/R TENNIS Svajda v Sinner3rd set game 4 - winner Due To
                wrong odds offered all bets under this markets have been voided
                ..Sorry For the inconvenience Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Linette/Pera v
                Krejcikova/Siniakova2nd set game 10 - winner S/R TENNIS Svajda v
                Sinner3rd set game 2 - winner S/R TENNIS Svajda v Sinner2nd set
                game 12 - winner S/R TENNIS Svajda v Sinner2nd set game 5 -
                winner S/R TENNIS Svajda v Sinner2nd set game 2 - winner S/R
                TENNIS Mchale/Olmos v Fernandez/Routliffe2nd set game 1 - winner
                S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 6 -
                winner S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game
                5 - winner Due To wrong odds offered all bets under this markets
                have been voided ..Sorry For the inconvenience Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Kuzmanov v Lacko2nd set game
                8 - winner S/R TENNIS Svajda v Sinner2nd set game 12 - winner
                S/R TENNIS Svajda v Sinner2nd set game 9 - winner S/R TENNIS
                Mchale/Olmos v Fernandez/Routliffe2nd set game 1 - winner S/R
                TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 8 - winner
                S/R TENNIS Mchale/Olmos v Fernandez/Routliffe1st set game 5 -
                winner Due To wrong odds offered all bets under this markets
                have been voided ..Sorry For the inconvenience Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Linette/Pera v
                Krejcikova/Siniakova1st set game 5 - winner S/R TENNIS
                Linette/Pera v Krejcikova/Siniakova1st set game 8 - winner S/R
                TENNIS Linette/Pera v Krejcikova/Siniakova1st set game 9 -
                winner S/R TENNIS Linette/Pera v Krejcikova/Siniakova2nd set
                game 4 - winner S/R TENNIS Linette/Pera v
                Krejcikova/Siniakova2nd set game 10 - winner Due To wrong odds
                offered all bets under this markets have been voided ..Sorry For
                the inconvenience Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 3 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 4 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 5 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 6 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 8 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske1st set game 7 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske2nd set game 1 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske2nd set game 2 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske2nd set game 3 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske2nd set game 7 - winner S/R TENNIS Kasatkina/Kontaveit v
                Li/Riske2nd set game 8 - winner Due To wrong odds offered all
                bets under this markets have been voided ..Sorry For the
                inconvenience Caused.</a
              ><a
                ><span>05 Sep 2021</span>S/R TENNISSantamaria/Lammons v
                Podoroska/Gonzalez2nd set - winner S/R TENNISSantamaria/Lammons
                v Podoroska/Gonzalez2nd set - race to 2 games S/R
                TENNISSantamaria/Lammons v Podoroska/Gonzalez1st set - winner
                S/R TENNISSanders/Saville v Bencic/Polasek2nd set - race to 4
                games S/R TENNISPopyrin v Evans4th set - total games ​ Due To
                wrong odds offered all bets under this markets have been voided
                ..Sorry For the inconvenience Caused.</a
              ><a
                ><span>03 Sep 2021</span>S/R TENNIS Nakashima v Molcan1st set
                game 4 - winner S/R TENNIS Nakashima v Molcan1st set game 9 -
                winner S/R TENNIS Nakashima v Molcan2nd set game 1 - winner Due
                To wrong odds offered all bets under this markets have been
                voided ..Sorry For the inconvenience Caused.</a
              ><a
                ><span>03 Sep 2021</span>S/R TENNISNakashima v Molcan3rd set
                game 3 - winner from 2021-09-01 23:28:26 pm till 2021-09-01
                23:29:30 pm Due To wrong odds offered all bets under this
                markets have been voided ..Sorry For the inconvenience
                Caused.</a
              ><a
                ><span>01 Sep 2021</span>【S/R TENNIS Thompson v Mager 4th set
                game 3 - winner】 【S/R TENNIS Thompson v Mager 4th set game 8 -
                winner】 【S/R TENNIS Hsieh v Cl Liu 2nd set game 4 - winner】
                【S/R TENNIS Hsieh v Cl Liu 2nd set game 8 - winner】 Due To
                wrong odds offered all bets under this markets have been voided
                ..Sorry For the inconvenience Caused .</a
              ><a
                ><span>01 Sep 2021</span>S/R TENNIS Diyas v Anisimova 2nd set
                game 5 - winner S/R TENNIS Thompson v Mager 2nd set game 9 -
                winner S/R TENNIS Thompson v Mager 2nd set game 9 - winner S/R
                TENNIS Thompson v Mager 2nd set game 8 - winner S/R TENNIS
                Thompson v Mager 2nd set game 4 - winner S/R TENNIS Thompson v
                Mager 2nd set game 1 - winner S/R TENNIS Thompson v Mager 1st
                set game 6 - winner Due To wrong odds offered all bets under
                this markets have been voided ..Sorry For the inconvenience
                Caused .</a
              ><a
                ><span>27 Aug 2021</span>TRADE EQUITY - INDEX - EQUITIES - FOREX
                - CRYPTO Now available on Skyexchange .</a
              ><a
                ><span>23 Aug 2021</span>MT5 is available now on Skyexchange -
                Enjoy Trading in International commodities.</a
              ><a
                ><span>03 Aug 2021</span>Advance Bets on all market are now
                available on skyfair.com</a
              ><a><span>30 Jul 2021</span>skyfair.com check our new website</a
              ><a
                ><span>30 Jul 2021</span>www.skyfair.com demo users- demo01
                demo02 demo03 Pass-Abcd1234</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- marquee end  -->
      <div class="total_all">
        <div style="display: flex">
          <div class="search-wrap" id="userSearchUl">
            <div>
              <input
                class="search-input"
                type="text"
                name="userId"
                id="userId"
                placeholder="Find member..."
              />
              <button class="search-but" id="searchUserId" onclick="userSearch()">Search</button>
            </div>
          </div>
          <ul class="input-list" id="accountStatusUl">
            <li><strong>Status</strong></li>
            <li>
              <select class="" name="accountStatus" id="accountStatus">
                <option value="0">ACTIVE</option>
                <option value="1">SUSPENDED</option>
                <option value="2">LOCKED</option>
                <option value="-1">ALL</option>
              </select>
            </li>
          </ul>
        </div>
        <div>
          <span class="add_member" id="mySizeChart">
            <i class="fas fa-user-plus"></i>Add Subadmin
          </span>
          <span class="btn_replay">
            <i class="fas fa-redo-alt"></i>
          </span>
        </div>
      </div>
      <div id="totalBox" class="total_box">
        <dl id="totalBalanceDL" class="total_dl">
          <dt>Total Balance</dt>
          <dd id="totalBalance">PBU 758.86</dd>
        </dl>
        <dl id="totalExposureDL" class="total_dl">
          <dt>Total Exposure</dt>
          <dd id="">
            PBU <span id="totalExposure" style="color: red">20.99</span>
          </dd>
        </dl>
        <dl id="myCurrentPLDL" class="total_dl" style="display: none">
          <dt>Today P/L with Upline</dt>
          <dd id="myCurrentPL">PIN 0.00</dd>
        </dl>
        <dl id="availableBalanceDL" class="total_dl">
          <dt>Total Avail. bal.</dt>
          <dd id="totalAvailBal">PBU 737.87</dd>
        </dl>
        <dl id="masterBalanceDL" class="total_dl">
          <dt>Balance</dt>
          <dd id="mastersBalance">PBU 132.00</dd>
        </dl>
        <dl id="masterAvailableBalanceDL" class="total_dl">
          <dt>Available Balance</dt>
          <dd id="mastersAvailBal">PBU 837.00</dd>
        </dl>
        <dl
          id="transferablePLWithUplineDL"
          class="total_dl"
          style="display: none"
        >
          <dt>Transferable P/L with Upline</dt>
          <dd id="transferablePLWithUpline">PIN 0.00</dd>
        </dl>
        <dl id="transferablePLWithUplineDL" class="total_dl">
          <dt>Total Player Balance</dt>
          <dd id="totalpBal">PBU 165.00</dd>
        </dl>
      </div>
      <!-- Center Column -->
      <div id="widthAll" class="width-all">
        <table
          id="resultTable"
          class="table01 margin-table"
          style="display: table"
        >
          <thead>
            <tr>
              <th id="accountTh" width="" class="align-L" style="text-align: start;">Account</th>
              <th id="creditRefTh" width="10%">Credit Ref.</th>
              <th id="transferablePLTh" width="10%" style="display: none">
                Transferable P/L
              </th>
              <th id="balanceTh" width="10%">Balance</th>
              <th id="exposureTh" width="10%">Exposure</th>
              <th id="availableBalanceTh" width="10%">Avail. bal.</th>
              <!-- <th id="exposureLimitTh" width="10%" style="">Exposure Limit</th> -->
              <th id="playerBalanceTh" width="10%">Player Balance</th>
              <th id="refPLTh" width="10%">Ref. P/L</th>
              <th id="statusTh" width="10%">Status</th>
              <th id="actionTh" width="15%">Action</th>
            </tr>
          </thead>
          <tbody id="childs">
          </tbody>
        </table>
      </div>
      <!-- Report Table -->
    </div>
    <div id="paginationList" class="d-flex justify-content-center">
      <!-- <ul id="pageNumberContent" class="pages">
        <li id="prev">
          <a
            href="javascript:void(0);"
            class="disable"
            style="pointer-events: none"
            >Prev</a
          >
        </li>
        <li id="pageNumber">
          <a
            href="javascript:void(0);"
            class="select"
            style="pointer-events: none"
            >1</a
          >
        </li>
        <li id="next">
          <a
            href="javascript:void(0);"
            class="disable"
            style="pointer-events: none"
            >Next</a
          >
        </li>
        <input type="text" id="goToPageNumber_1" maxlength="6" size="4" />
        <a id="goPageBtn_1">GO</a>
      </ul> -->
      <ul class="pagination">
        <li class="page-item">
          <span class="page-link" onclick="showAllChild()">Previous</span>
        </li>
        <li class="page-item" onclick="showAllChild(0,10)">
          <span class="page-link">1</span>
        </li>
        <li class="page-item" onclick="showAllChild(1,10)">
          <span class="page-link">2</span>
        </li>
        <li class="page-item" onclick="showAllChild(2,10)">
          <span class="page-link">3</span>
        </li>
        <li class="page-item" onclick="showAllChild()">
          <span class="page-link">Next</span>
        </li>
      </ul>
    </div>
    <div class="footer_info">
      <div class="main_wrap">
        <ul class="action">
          <li class="bank">
            <p>
              <span><i class="fas fa-usd-circle"></i></span>Bank
            </p>
          </li>
          <li class="p_l">
            <p>
              <span
                ><i class="fas fa-long-arrow-up"></i
                ><i class="fas fa-long-arrow-down"></i></span
              >Betting Profit &amp; Loss
            </p>
          </li>
          <li class="betting_history">
            <p>
              <span><i class="fas fa-line-height"></i></span>Betting History
            </p>
          </li>
          <li class="profile">
            <p>
              <span><i class="fas fa-user-alt"></i></span>Profile
            </p>
          </li>
          <li class="status">
            <p>
              <span><i class="fas fa-cog"></i></span>Change Status
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div id="mySizeChartModal" class="ebcf_modal">

        <div class="ebcf_modal-content">
          <span class="ebcf_close"></span>
          <h3 id="createHeader">Add Subadmin</h3>
          <ul class="half_box add-member-box">
            <li class="add_account_box">
            
              <dl>
                <dt>Select Website</dt>
                <dd>
                    <select class="addmaster-select" name="websites" id="websites">
                        <option value="selectwebsite" disabled selected>--Select Website--</option>
                    </select>
                    <span class="must">*</span>
                </dd>
            </dl>
                <dl>
                  <dt>Email</dt>
                  <dd>
                      <input id="email" type="email" placeholder="Enter here" maxlength="30">
                      <span class="must">*</span>
                      <span id="emailErrorText" class="error-text"></span>
                  </dd>
              </dl>
                <dl>
                    <dt>Username</dt>
                    <dd>
                        <input id="userName" type="text" placeholder="Enter here" maxlength="16" onblur="checkUserAvailable()">
                        <span class="must">*</span>
                        <span id="userNameErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Password</dt>
                    <dd>
                        <input id="userPassword" type="password" placeholder="Enter here">
                        <span class="must">*</span>
                        <span id="passwordErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl class="border_b">
                    <dt>Confirm Password</dt>
                    <dd>
                        <input id="repeatPassword" type="password" placeholder="Enter here">
                        <span class="must">*</span>
                        <span id="repeatPasswordErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl class="fname-top">
                    <dt>First Name</dt>
                    <dd>
                        <input id="firstName" type="text" placeholder="Enter here" maxlength="16">
                             <span class="must">*</span>
                        <span id="firstNameErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Last Name</dt>
                    <dd>
                        <input id="lastName" type="text" placeholder="Enter here" maxlength="16">
                    </dd>
                </dl>
                <dl>
                    <dt>Phone</dt>
                    <dd>
                        <input id="phone" type="text" placeholder="Enter here" maxlength="16">
                        <span class="must">*</span>
                    </dd>
                </dl>
                
                <dl id="ExpoDiv" style="display:none">

                    <dt>Expo Limit</dt>
                    <dd>
                        <input id="expoLimit" type="number" placeholder="Enter here" value="">
                        <span class="must">*</span>
                         <span id="expoErrorText" class="error-text"></span>
                    </dd>
                </dl>
                
                <dl id="commDiv" style="display:none">

                    <dt>Commission(%)</dt>
                    <dd>
                        <input id="commission" type="number" placeholder="Enter here" value="">
                        <span class="must">*</span>
                         <span id="commErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Time Zone</dt>
                    <dd>
                        <select class="addmaster-select" name="timezone" id="timezone">

                            <option value="Pacific/Midway">Pacific/Midway(GMT-11:00)</option>

                            <option value="Pacific/Honolulu GMT-10:00">Pacific/Honolulu(GMT-10:00)</option>

                            <option value="America/Juneau GMT-9:00">America/Juneau(GMT-9:00)</option>

                            <option value="America/Los_Angeles GMT-8:00">America/Los_Angeles(GMT-8:00)</option>

                            <option value="America/Phoenix GMT-7:00">America/Phoenix(GMT-7:00)</option>

                            <option value="America/Chicago GMT-6:00">America/Chicago(GMT-6:00)</option>

                            <option value="America/New_York GMT-5:00">America/New_York(GMT-5:00)</option>

                            <option value="America/Santiago GMT-4:00">America/Santiago(GMT-4:00)</option>

                            <option value="America/Sao_Paulo GMT-3:00">America/Sao_Paulo(GMT-3:00)</option>

                            <option value="Atlantic/South_Georgia GMT-2:00">Atlantic/South_Georgia(GMT-2:00)</option>

                            <option value="Atlantic/Azores GMT-1:00">Atlantic/Azores(GMT-1:00)</option>

                            <option value="Europe/London GMT+0:00">Europe/London(GMT+0:00)</option>

                            <option value="Europe/Paris GMT+1:00">Europe/Paris(GMT+1:00)</option>

                            <option value="Africa/Cairo GMT+2:00">Africa/Cairo(GMT+2:00)</option>

                            <option value="Asia/Qatar GMT+3:00">Asia/Qatar(GMT+3:00)</option>

                            <option value="Asia/Dubai GMT+4:00">Asia/Dubai(GMT+4:00)</option>

                            <option value="Asia/Karachi GMT+5:00">Asia/Karachi(GMT+5:00)</option>

                            <option value="IST GMT+5:30">IST(Bangalore / Bombay / New Delhi) (GMT+5:30)
                            </option>

                            <option value="Asia/Kathmandu GMT+5:45">Asia/Kathmandu(GMT+5:45)</option>

                            <option value="Asia/Dhaka GMT+6:00" selected="selected">Asia/Dhaka(GMT+6:00)</option>

                            <option value="Asia/Bangkok GMT+7:00">Asia/Bangkok(GMT+7:00)</option>

                            <option value="Asia/Hong_Kong GMT+8:00">Asia/Hong_Kong(GMT+8:00)</option>

                            <option value="Asia/Tokyo GMT+9:00">Asia/Tokyo(GMT+9:00)</option>

                            <option value="Australia/Adelaide GMT+9:30">Australia/Adelaide(GMT+9:30)</option>

                            <option value="Australia/Melbourne GMT+10:00">Australia/Melbourne(GMT+10:00)</option>

                            <option value="Asia/Magadan GMT+11:00">Asia/Magadan(GMT+11:00)</option>

                            <option value="Pacific/Fiji GMT+12:00">Pacific/Fiji(GMT+12:00)</option>

                        </select>
                    </dd>
                </dl>
            </li> 
        </ul>
        <div class="btn_box disabled" style="cursor: pointer;" onclick="saveUser()">
            <a id="createBtn" class="btn-send">Create</a>
        </div>
        </div>
      
      </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"
  ></script>
  <script src="./js/adminmain.js"></script>
  <script>
    // Get the modal
var ebModal = document.getElementById('mySizeChartModal');

// Get the button that opens the modal
var ebBtn = document.getElementById("mySizeChart");

// Get the <span> element that closes the modal
var ebSpan = document.getElementsByClassName("ebcf_close")[0];

// When the user clicks the button, open the modal 
ebBtn.onclick = function() {
    ebModal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
ebSpan.onclick = function() {
    ebModal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == ebModal) {
        ebModal.style.display = "none";
    }
}
  </script>
</html>
