<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
<meta charset="utf-8">
</head>
<body style="background-color: #f0ece1;">
    <div class="main_wrap">
        <!-- agent path -->
        <div class="agent_path">
            <ul id="agentPath" class="agent_path-L">
                <li id="path3" class="last_li">
                    <a href="javascript: void(0);">
                        <span class="lv_3">
                            MA
                        </span>
                        <strong>demoagt12</strong>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Agent Left Column -->
        <div class="col-left">
            <!-- Sub Menu and Path -->
            <div class="sub_path">
                <!-- Sub Menu -->
                <ul class="menu-list">
                    <li class="class">Position</li>
                    <li class="li-hover"><a id="accountSummary" href="/account" class="">Account Summary</a></li>
                    <li class="li-hover"><a id="accountStatement" href="/accountstatement">Account Statement</a>
                    </li>
                    <li class="class">Account Details</li>
                    <li class="li-hover select"><a id="profile" href="/profile">Profile</a></li>
                    <li class="li-hover"><a id="activityLog" href="/activitylog">Activity Log</a></li>
                </ul>
            </div>
        </div>
        <!-- Center Column -->
        <div class="col-center report">
            <h2>Profile</h2>
            <div class="d-flex profile-flex">
                <div class="event-left">
                    <div class="profile-wrap">
                        <h3>About You</h3>
                        <dl>
                            <dt>First Name</dt>
                            <dd>demouser</dd>
                        </dl>
                        <dl>
                            <dt>Last Name</dt>
                            <dd>demouser</dd>
                        </dl>
                        <dl>
                            <dt>Birthday</dt>
                            <dd>--</dd>
                        </dl>
                        <dl>
                            <dt>E-mail</dt>
                            <dd>abc@gmail.com</dd>
                        </dl>
                        <dl>
                            <dt>Password</dt>
                            <dd>********************************
                                <a href="#" class="favor-set" onclick="editpage()">Edit
                                    <i class="fas fa-pen"></i>
                                </a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Time Zone</dt>
                            <dd>IST</dd>
                        </dl>
                    </div>
                </div>
                <div class="event-right">
                    <div class="profile-wrap">
                        <h3>Contact Details</h3>
                        <dl>
                            <dt>Primary number</dt>
                            <dd></dd>
                        </dl>
                    </div>
                    <div class="profile-wrap" style="display: none;">
                        <h3>PT</h3>
                        <dl>
                            <dt>My PT Allowed</dt>
                            <dd>0%</dd>
                        </dl>
                        <dl>
                            <dt>My Fancy Bet PT</dt>
                            <dd>0%</dd>
                        </dl>
                        <dl>
                            <dt>Sportsbook PT</dt>
                            <dd>0%</dd>
                        </dl>
                        <dl>
                            <dt>Sportsbook Premium PT</dt>
                            <dd>0%</dd>
                        </dl>
                        <dl>
                            <dt>My Book Maker PT</dt>
                            <dd>0%</dd>
                        </dl>
                        <dl>
                            <dt>Casino PT Allowed</dt>
                            <dd>LIVE: 0%, RNG: 0%, SLOT: 0%, VIRTUAL: 0%</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup start  -->
    <div id="changePasswordModal" class="pop_bg">
        <div class="pop_box">
            <a class="close_pop" href="#" onclick="editpage()"><i class="fa fa-times" aria-hidden="true"></i></a>
            <h3>Change Password</h3>
            <dl>
                <dt>New Password</dt>
                <dd>
                    <input id="newPassword" type="password" placeholder="Enter">
                    <span class="must">＊</span>
                    <span id="newPasswordErrorText" class="error-text"></span>
                </dd>
            </dl>
            <dl>
                <dt>New Password<br> Confirm</dt>
                <dd>
                    <input id="newPasswordConfirm" type="password" placeholder="Enter">
                    <span class="must">＊</span>
                    <span id="newPasswordConfirmErrorText" class="error-text"></span>
                </dd>
            </dl>
            <dl>
                <dt>Your Password</dt>
                <dd>
                    <input id="changePassword" type="password" placeholder="Enter">
                    <span class="must">＊</span>
                </dd>

            </dl>
            <dl class="pupup-change">
                <dd></dd>
                <dd><a id="changePasswordBtn" href="#" class="btn-send">Change</a>
                </dd>
            </dl>

        </div>
    </div>
    <!-- popup End  -->
</body>
</html>